html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    margin: 0px;
    padding: 0 70px;
}


.hero-ul{
    display: flex;
    margin: 20px 40px;
    margin-left: 80px;
    padding: 0px;
    justify-content: space-around;
}

.kinn{
    margin: 0px 350px 0px 190px; 
}

.svg{
    position: relative;
    padding: 0px 10px;
}

.svg:after{
    content: "";
    position: absolute;
    background-color: #717353;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.svg:hover:after{
    width: 100%;
}
nav,header{
    display: flex;
    max-width: 1424px;

}
.hero-li{
    list-style-type:  none;
}
.hero-a{
    text-decoration: none;
    position: relative;
    font-family: Roboto;
    letter-spacing: 1,58px;
    font-size: 20px;
    color: #56593D;
    padding: 0px 5px;
}
.hero-a:after{
    content: "";
    position: absolute;
    background-color: #717353;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.hero-a:hover{
    color: #56593D;
}
.hero-a:hover:after{
    width: 100%;
}

.main{
    display: flex;
    height: 700px;
    max-width: 1328px;
    background-image: url("./images/Rectangffffffffffle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;

    @media screen and (max-width:768px){
        max-width: 710px; 
    }

}

.main__button{
    max-width: 154px;
    height: 56px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: Regular;
    text-align: center;
    margin-bottom: 64px;
    color: #ffffff;
    background-color: #56593D;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,1);
    transition-duration:0.3s ;
    transition-duration:0.3s ;
}

.main__button:hover, .main__button:focus, .main__button:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0,5);
    transform: scale(1.1);
}

.container{
    max-width: 1440px;
    margin: 0px;
    padding: 0;

}



.main__text{
    color: #56593D;
    max-width: 179px;
    height: 22px;
    font-weight: 600;
}

.main__h2{
    height: 61px;
    max-width: 439px;
    color: #56593D;
    font-size: 40px;
    font-style: Regular;
    text-wrap: balance;
    font-family: "Roboto", sans-serif;
}

.feedback{
    margin: 55px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.feedback__div{

    align-self: flex-end;
    align-items: center;
    align-content: center;
}

.feedback__text{
    flex-grow: 1;
    height: 243px;
    min-width: 1194px;
    font-family: "Roboto",sans-serif;
    font-size: 57px;
    color: #56593D;
}

.feedback__link{
    height: 26px;
    min-width: 78px;
    text-decoration: none;
    position: relative;
    font-family: Roboto;
    font-size: 16px;
    color: #56593D;
    padding: 0px 5px;
}

.feedback__link:after{
    content: "";
    position: absolute;
    background-color: #717353;
    height: 3px;
    width: 0px;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.feedback__link:hover{
    color: #56593D;
}
.feedback__link:hover:after{
    width: 100%;
}


p,h1,h2,h3,h4,h5,h6,a{
    color: #56593D;
    font-family: "Roboto",sans-serif;
}


.mapple__board{
    margin-top: 155px;
    max-width: 1360px;
    height: 738px;
    text-align: center;
    align-content: center;
}

.mapple__text__main{
    height: 33px;
    min-width: 254px;
    font-size: 24px;
    margin: 0 auto;
}

.mapple__text{
    align-self: flex-start;
}

.mapple__board__main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 92px;
}

.text__short .text__long .text__wide{
    display: flex;
    align-self:flex-end;
    font-size: 16px;
    max-width: 144px;
    height: 22px;

}

.link__short,.link__long,.link__wide{
    text-decoration: none;
    align-self: flex-end;
    max-width: 76px;
    height: 26px;
}

.link__short{
    min-width: 65px;
}

.short,.long,.wide{
    height: 411px;
    min-width: 411px;
}

.plates{
    height: 700px;
    max-width: 1328px;
    border-color: #FFFFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/Rectangleplates.jpg");
    padding-top: 62px;
    margin-bottom: 24px;
}


.plates__text{
    height: 22px;
    max-width: 159px;
    font-size: 17px;
}

.plate__h2{
    height: 121px;
    max-width: 1093px;
    font-size: 50px;
    font-weight: 500;
    
}
.story {
    margin: 24px;
    height: 746px;
    max-width: 1360px;
    display: flex;
    background-color: #FFFFEF;
    align-items: center;
    
}

.story__text {
    height: 227px;
    width: 347px;
    font-size: 20px;
}

.story__img {
    height: 618px;
    width: 743px;
}

.story__h2 {
    height: 39px;
    width: 219px;
    font-size: 29px;
    font-weight: 500;
    
}
.story__h2:after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: #717353;
    margin-left: 20px;
    margin-bottom: 10px;
}

.story__div {
    justify-content: space-around;
    flex-direction: column;
    margin-left: 200px; 
}

